.slider {
        display: float:left; 
		height:10px;
		width: 85%;
		margin-left:20px;
		margin-top:30px;
		}
.sliderVal {
        display: float; 
		width: 10%;
		height:10px;
		font-family: verdana;
        font-size: 20px;
		margin-top:50px;
		margin-left:10px;
		}
.floating-box {
    display: inline-block;
    width: 300px;
    height: 120px;
    border: /*1px solid #ADADAD*/none;  
}
.myX3D {
    display: block; 
	margin-top:50px;
}
/*https://www.x3dom.org/documentation/tutorials/css-integration-2/*/
/*
#the_element {
    display: block; 
	border: none;
    position: relative;
}

#toggler {
    position: absolute;
    float: left;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 10em;
    height: 2em;
    border: none;
    background-color: #202021;
    color: #ccc;
}
#toggler:hover {
    background-color:blue;
}*/